body {
    box-sizing: border-box;
    margin: 0;
}

#elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#elements img {
    height: 300px;
    width: auto;
    margin: 30px;
    max-width: 440px;
}